.input-group {
  display: flex;
  margin-bottom: $l-size;
  flex-direction: column;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    margin-bottom: $m-size;
  }
}

.input-group__item {
  margin-bottom: $m-size;

  @media (min-width: $desktop-breakpoint) {
    margin-right: $m-size;
  }
}
